/*Estilo para toda la pagina*/
body {
    text-align: center;
    color: #373A3C;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
/*Estilo para el navegador*/
.mainnavbar {
    background-color: #660066;
    
}
/*Imagen de fondo*/
.hero {
    background-image: url(../img/bg_hero.png);
    height: 500px;
    background-repeat: no-repeat;
    padding-top: 400px;
    color: #FFFFFF;
    background-size: cover;
    background-position: center; /*centrar imagen*/
}
.experiencia {
    padding-bottom: 40px;
}
.trabajos {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #660066;    
}
.trabajos h3{
    padding-left: 30%;
    padding-right: 30%;
}
.trabajos p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.contacto {
    padding-top: 30px;
    padding-bottom: 70px;
}
footer {
    background-color: #660066;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Estilo a los iconos*/
.redes i {
    color: #FFFFFF;
}
.experiencia i {
    color: #660066;
}
.informacion p {
    text-align: left;
}
.experiencia p{
    margin: 0;
}
.trabajos h3 {
    color: #FFFFFF;
    text-align: center;
}
/*Tamaño del cuadro para comentar*/
.form-control {
    height: 530px;
}
form {
    padding-top: 40px;
}
.ventana {
    margin-top: 40px;
}

/*Aparece texto para los tamaños de dispsitivos medianos en adelante*/
@media (min-width: 576px) {
    .informacion h3:before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ante nulla. Donec in neque consectetur, ultrices justo eu, hendrerit lectus.";
    }
}
@media (min-width: 576px) {
    .columna1 p:before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ante nulla. Donec in neque consectetur, ultrices justo eu, hendrerit lectus. Nullam fermentum turpis et dolor euismod consequat sed sed ante. Curabitur vel lacinia nisi. Sed mollis condimentum rhoncus. Proin sed diam eu risus auctor aliquet. Sed nisi lorem, mollis sit amet gravida in, finibus ut diam. Nunc cursus lacus ex, id interdum nibh tristique ac. Maecenas in mi blandit, euismod ipsum eu, lobortis nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ultricies sem eu massa pellentesque, id interdum nibh luctus. Nam ac orci id neque posuere aliquam.";
    }
}
@media (min-width: 576px) {
    .columna2 p:before {
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ante nulla. Donec in neque consectetur, ultrices justo eu, hendrerit lectus. Nullam fermentum turpis et dolor euismod consequat sed sed ante. Curabitur vel lacinia nisi. Sed mollis condimentum rhoncus. Proin sed diam eu risus auctor aliquet. Sed nisi lorem, mollis sit amet gravida in, finibus ut diam. Nunc cursus lacus ex, id interdum nibh tristique ac. Maecenas in mi blandit, euismod ipsum eu, lobortis nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ultricies sem eu massa pellentesque, id interdum nibh luctus. Nam ac orci id neque posuere aliquam.';
    }
}
/*Aparece texto para los tamaños de dispsitivos medianos hacia abajo*/
@media (max-width: 576px) {
    .pregunta2 h3:before {
    content: "MI EXPERIENCIA";
    }
}
@media (min-width: 576px) {
    .pregunta1 h3:before {
    content: "¿Quieres conocer mas de mí?";
    }
}
@media (min-width: 576px) {
    .pregunta2 h3:before {
    content: "CONTACTO";
    }
}



/*Aparece texto para los tamaños de dispsitivos medianos en adelante*/
@media (max-width: 576px) {
    .pagos :before {
    display: none;
}
}