/*Estilo para toda la pagina*/
body {
    text-align: center;
    color: #373A3C;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
/*Estilo para el navegador*/
.mainnavbar a:nth-child(1) {
    font-size: 25px;
    font-weight: 700;
}
.mainnavbar {
    background-color: #660066;
}
.nav-item a {
    font-size: 10px;
}
/*Imagen de fondo*/
.hero {
    background-image: url(../img/bg_hero.png);
    height: 550px;
    background-repeat: no-repeat;
    padding-top: 400px;
    color: #FFFFFF;
    background-size: cover;
    background-position: center; /*centrar imagen*/
}
.experiencia {
    padding-bottom: 40px;
}
.experiencia h3 {
    font-size: 40px;
    font-weight: 700;
}
.trabajos {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #660066; 
}
.cartas p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.trabajos h3{
    padding-left: 20%;
    padding-right: 20%;
    font-size: 40px;
}
.trabajos p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.contacto {
    padding-top: 30px;
    padding-bottom: 70px;
}
.contacto h3 {
    font-size: 40px;
    font-weight: 400;
}
footer {
    background-color: #660066;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p {
    font-size: 40px;
}
/*Estilo a los iconos*/
.experiencia i {
    color: #660066;
}
.informacion p {
    text-align: left;
}
.experiencia p{
    font-size: 25px;
}
.trabajos h3 {
    color: #FFFFFF;
    font-weight: 700;
}
/*Tamaño del cuadro para comentar*/
form {
    padding-top: 40px;
}
.ventana {
    margin-top: 40px;
}